# Experiment 4
# loops

### Q1) Find a factorial of given number

In [1]:
n = 5
fact = 1

for i in range(1, n+1):
    fact *= i

print("Factorial =", fact)

Factorial = 120

### Q2) Find whether the given number is Armstrong number.

In [2]:
num = 153
temp = num
power = len(str(num))
sum_ = 0

while temp > 0:
    digit = temp % 10
    sum_ += digit ** power
    temp //= 10

print("Armstrong" if sum_ == num else "Not Armstrong")

Armstrong

### Q3) Print Fibonacci series up to given term.

In [3]:
n = 10
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

### Q4) Write a program to find if given number is prime number or not.

In [4]:
num = 29

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")
else:
    print("Not Prime")

Prime

### Q5) Check whether given number is palindrome or not.

In [ ]:
num = 121
temp = num
rev = 0

while temp > 0:
    rev = rev*10 + temp%10
    temp //= 10

print("Palindrome" if rev == num else "Not Palindrome")

Palindrome

### Q6) Write a program to print sum of digits.

In [6]:
num = 456
s = 0

while num > 0:
    s += num % 10
    num //= 10

print("Sum =", s)

Sum = 15

### Q7) Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [7]:
count = 0
for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1

print("\nTotal =", count)

5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100
Total = 32

### Q8) Convert all lower cases to upper case in a string.

In [8]:
text = "hello world"
print(text.upper())

HELLO WORLD

### Q9) Print all prime numbers between 1 and 100.

In [9]:
for num in range(2, 101):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Q10) Print the table for a given number:  
5 * 1 = 5  
5 * 2 = 10

In [10]:
n = 5

for i in range(1, 11):
    print(n, "*", i, "=", n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50